mkdir -p .direnv

watch_file flake.nix
watch_file flake.lock
watch_file shell.nix

eval "$(nix print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"

export TOPLEVEL=$(git rev-parse --show-toplevel)
